<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calibration</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
</head>     
<body>

<
<div class="containerrr">
    <div class="helper">
        <div class="containerr" style="padding: 20px; padding-bottom: 10px;">
            <p><a href="/check_page"><img alt="" class="imgushka" id="im" src="http://192.168.11.1:8080/stream?topic=/main_camera/image_raw"></a></p>

            {% if amount_left < 25 %}
                <p class="lead">Photos left: <strong>{{ amount_left+1}}</strong></p>
            {% else %}
                <p class="lead">Photos now: <strong>{{ amount_left }}</strong></p>
            {% endif %}
            <p>
                <button onclick="add()" class="btn btn-lg btn-primary">Catch photo</button>
                {% if amount_left>24 %}
                    <a href="/finish" id="butt" class="btn btn-lg btn-success">Finish calibration</a>
                {% endif %}
                <a href="/" class="btn btn-lg btn-danger">Exit</a>
            </p>
        </div>
    </div>
</div>
<script>
    function add() {
        //href="/check_page"
        var request = new XMLHttpRequest();
        request.open('GET', '/check_page', false);
        request.send(null);
        if (request.status === 200) {
            document.getElementById('im').src = "/preview";
            document.getElementById('butt').innerHTML = "Add";
        }
    }
</script>
</body>
</html>