<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calibration</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/animation.css') }}" rel="stylesheet">
</head>
<body>
<div class="containerrr">
    <div class="helper">
        <div class="containerr" id="cont" style="padding: 20px; padding-bottom: 10px;">
            <p><img alt="" class="imgushka" id="im"
                    src="http://192.168.11.1:8080/stream?topic=/main_camera/image_raw"></p>

            <p class="lead">Photos now: <strong id="photos_left">25</strong></p>
            <p>
                <button onclick="catching()" id="butt" class="btn btn-lg btn-primary">Catch photo</button>
                {% if amount_left>24 %}
                    <button class="btn btn-lg btn-success">Finish calibration</button>
                {% endif %}
                <button id="butt2" onclick="exit()" class="btn btn-lg btn-danger">Exit</button>
            </p>
        </div>
    </div>
</div>
<script>
    var photos_left = 25;

    function catching() {
        //href="/check_page"
        var request = new XMLHttpRequest();
        request.open('GET', '/check_page', false);
        request.send(null);
        if (request.status === 200) {
            document.getElementById('butt').innerHTML = "Add";
            document.getElementById('butt2').innerHTML = "Skip";
            document.getElementById('butt2').onclick = skip;
            document.getElementById('butt').onclick = add;
            var request2 = new XMLHttpRequest();
            request2.open('GET', '/preview', false);
            request2.send(null);
            if (request2.status === 500) {
                document.getElementById('im').src = "/static/bad.jpg";
            } else {
                document.getElementById('im').src = "/preview";
            }
        }
    }

    function add() {
        var request = new XMLHttpRequest();
        request.open('GET', '/add', false);
        request.send(null);
        if (request.status === 200) {
            photos_left -= 1;
            var request2 = new XMLHttpRequest();    
            request2.open('GET', '/preview', false);
            request2.send(null);
            if (request2.status === 500) {
                photos_left += 1
            }
            document.getElementById('photos_left').innerHTML = photos_left.toString();
            document.getElementById('im').src = "http://192.168.11.1:8080/stream?topic=/main_camera/image_raw";
            document.getElementById('butt').innerHTML = "Catch photo";
            document.getElementById('butt2').innerHTML = "Exit";
            document.getElementById('butt2').onclick = exit;
            document.getElementById('butt').onclick = catching;
        }
        if (photos_left === 0) {
            exit();
        }
    }

    function exit() {
        //window.location = "/finish";
        document.getElementById('cont').innerHTML = "<div class='spinner'></div>";
        setTimeout(function () {
            var request = new XMLHttpRequest();
            request.open('GET', '/finish', false);
            request.send(null);
            if (request.status === 200) {
                document.getElementById('cont').innerHTML = "<h1>Calibration Finished</h1>";
                console.log(request.responseText);
            }
        }, 200);
    }

    function skip() {
        document.getElementById('im').src = "http://192.168.11.1:8080/stream?topic=/main_camera/image_raw";
        document.getElementById('butt').innerHTML = "Catch photo";
        document.getElementById('butt2').innerHTML = "Exit";
        document.getElementById('butt2').onclick = exit;
        document.getElementById('butt').onclick = catching;
    }
</script>
</body>
</html>