<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calibration</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/animation.css') }}" rel="stylesheet">
</head>
<body>
<div class="containerrr">
    <div class="helper">
        <div class="containerr" id="cont" style="padding: 20px; padding-bottom: 10px;">
            <p><img alt="" class="imgushka" id="im"
                    src="http://192.168.11.1:8080/stream?topic=/main_camera/image_raw"></p>

            <p class="lead">Photos <span id="status_text">left</span>: <strong id="photos_left">25</strong></p>
            <p>
                <button onclick="catching()" id="butt" class="btn btn-lg btn-primary">Catch photo</button>
                <button id="butt2" onclick="restart()" class="btn btn-lg btn-danger">Exit</button>
            </p>
        </div>
    </div>
</div>
<script>
    var photos_left = 25;

    function catching() {
        //href="/check_page"
        var request2 = new XMLHttpRequest();
        request2.open('GET', '/preview', false);
        request2.send(null);
        if (request2.status === 500) {
            alert("Checkerboard not found");}
        else {
            document.getElementById('im').src = "/preview";
            document.getElementById('butt').innerHTML = "Add";
            document.getElementById('butt2').onclick = skip;
            document.getElementById('butt2').innerHTML = "Skip";
            document.getElementById('butt').onclick = add;}
        }

    function add() {
        var request = new XMLHttpRequest();
        request.open('GET', '/add', false);
        request.send(null);
        if (request.status === 200) {
            photos_left -= 1;
            var photos_show = photos_left;
            if (photos_left < 1){
            document.getElementById('status_text').innerHTML = "now";
            photos_show = 25 - photos_left;
            }
            document.getElementById('photos_left').innerHTML = photos_show.toString();
            document.getElementById('im').src = "http://192.168.11.1:8080/stream?topic=/main_camera/image_raw";
            document.getElementById('butt').innerHTML = "Catch photo";
            document.getElementById('butt').onclick = catching;
            if (photos_left <= 0){
                document.getElementById('butt2').onclick = exit;
                document.getElementById('butt2').innerHTML = "Finish";
                document.getElementById('butt2').removeClass("btn-danger").addClass("btn-success");
            } else{
                document.getElementById('butt2').onclick = restart;
                document.getElementById('butt2').innerHTML = "Exit";}



        }
    }

    function exit() {
        //window.location = "/finish";
        document.getElementById('cont').innerHTML = "<div class='spinner'></div>";
        setTimeout(function () {
            var request = new XMLHttpRequest();
            request.open('GET', '/finish', false);
            request.send(null);
            if (request.status === 200) {
                var finish_data = JSON.parse(request.responseText);
                if (finish_data['ret']) {
                    var str1 = "<h2 style='margin: 15px; margin-top: 5px;'>Calibration Finished</h2>";
                    var str2 = "<h3 style='margin: 15px; margin-top: 5px;'>File was saved as <strong>"+finish_data['name']+"</strong></h3>";
                    var str3 = "<h3 style='margin: 15px; margin-top: 5px;'>Re-projection error: <strong>"+finish_data['error']+"</strong></h3>";
                    document.getElementById('cont').innerHTML = str1+str2+str3;
                } else {
                    document.getElementById('cont').innerHTML = "<h1 style='margin: 15px; margin-top: 5px;'>Calibration Failed</h1>";
                }
            }
        }, 200);
    }

    function restart() {
        window.location = "/";
    }

    function skip() {
        document.getElementById('im').src = "http://192.168.11.1:8080/stream?topic=/main_camera/image_raw";
        document.getElementById('butt').innerHTML = "Catch photo";
        document.getElementById('butt').onclick = catching;
        if (photos_left <= 0){
            document.getElementById('butt2').onclick = exit;
            document.getElementById('butt2').innerHTML = "Finish";
            document.getElementById('butt2').removeClass("btn-danger").addClass("btn-success");}
        else{
            document.getElementById('butt2').onclick = restart;
            document.getElementById('butt2').innerHTML = "Exit";}
    }

</script>
</body>
</html>